h3{
    font-size:35px;
    background-color: #358692;
    text-align: initial;
    text-transform:none;
    text-indent:none;
    text-orientation: none;
}

body{
    background-color:crimson;
    }

#p-1{
    font-size:medium;
    color:black;
    text-align:justify;
}    